<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Techbook</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" 
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" 
    crossorigin="anonymous" 
    referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" 
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" 
    crossorigin="anonymous"/>
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
  <script src="/semantic/dist/semantic.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
<div class="ui stackable menu">
  <div class="item">
    <img src="/images/techbook-icon2.PNG">
  </div>
  <a class="item" href="/home"><i class="home icon"></i>Home</a>
  <a class="item" href="/profile"><i class="user icon"></i>Profile</a>
  <a class="item" href="/search"><i class="search icon"></i>Search</a>
  <a class="right item" href="#" id="logout"><i class="sign out alternate icon"></i>Logout</a>
</div>
  {{{body}}}
  <div id="footer">
    <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <h4 class="ui horizontal header divider"></h4>
      <h4 class="ui horizontal header divider"></h4>
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <div class="item">
            <img src="/images/techbook-icon.PNG" width="100" height="100">
          </div>
        </div>
        <div class="four wide column">
          <h4 class="ui inverted header">Need Support?</h4>
          <div class="ui inverted link list">
            <a href="mailto:techbook.me@gmail.com" class="item">Contact Us</a>
          </div>
        </div>
        <div class="four wide column">
          <h4 class="ui inverted header">Connect</h4>
          <div class="ui inverted link list">
            <a href="/search" class="item">Looking for someone?</a>
          </div>
        </div>
        <div class="five wide column">
          <h4 class="ui inverted header">Techbook</h4>
          <p>Created by the techbook organization members.</p>
          <small><i class="registered icon"></i>2021 Techbook</small>
        </div>
      </div>
      <h4 class="ui horizontal header divider"></h4>
    </div>
  </div>
  </div>
  <script src="/js/logout.js"></script>
</body>
</html>