<div class="content">
    <h1>Home</h1>
    <small>{{user.username}}</small>
    <p>Your main project will appear in the homepage!</p>
    <h3>Techbook</h3>
    <img src="/images/techbook-logo.PNG" alt="doggy" />
    <p>Techbook allows people from the Tech industry to connect with each other, gives recruiters the ability to connect and interact with people, enables students to improve their work.</p>
    </div>
</div>
<button class="ui button">Follow</button>