<section>
    <div class="imgBx">
        <img src="/images/signup.jpg">
    </div>
    <div class="contentBx">
        <div class="formBx">
            <h2>Login</h2>
            <form class="login-form">
                <div class="inputBx">
                    <span>Email</span>
                    <input type="text" id="email-login" autocomplete="off" placeholder="Enter your email">
                </div>
                <div class="inputBx">
                    <span>Password</span>
                    <input type="password" id="password-login" autocomplete="off" placeholder="Enter your password">
                </div>
                <div class="remember">
                    <label><input type="checkbox"> Remember me</label>
                </div>
            </form>
                <div class="inputBx">
                    <button type="button" class="login-button">Log in</button>
                </div>
                <div class="inputBx">
                    <p>Don't have an account? <a href="/">Sign up</a></p>
                </div>
        </div>
    </div>
</section>
<script src="./js/login.js"></script>