


{{!-- signup handlebars applies on this page --}}




<section>
    <div class="imgBx">
        <img>
    </div>
    <div class="contentBx">
        <div class="formBx">
            <img class="signlogo" src="/images/techbook-logo2.PNG" width="100%" height="90%">
            <small>Connect with the tech industry</small>
            <h2>Login</h2>
            <form class="login-form">
                <div class="inputBx">
                    <span>Email</span>
                    <input type="text" id="email-login" autocomplete="off" placeholder="Enter your email">
                </div>
                <div class="inputBx">
                    <span>Password</span>
                    <input type="password" id="password-login" autocomplete="off" placeholder="Enter your password">
                </div>
                <div class="inputBx">
                    <button type="submit" class="login-button">Log in</button>
                </div>
            </form>
                <div class="inputBx">
                    <p>Don't have an account? <a href="/">Sign up</a></p><br>
                    <span class="forgotpassword"><p>Forgot password?</p></span>
                </div>
        </div>
    </div>
</section>
<div id="password-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h1 class="page-title text-dark">Contact Us</h1>
        <span class="contact-text">Please contact us at <b><a href="mailto:techbook.me@gmail.com" target="_blank" >techbook.me@gmail.com</a></b>, we will return back with to you with your new password.</span>
    </div>
</div>





{{!-- scripts --}}



<script src="./js/login.js"></script>