<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="column" id="search-bar-dark">
            <div class="ui inverted segment">
                <h4 class="ui horizontal header divider red text"><p>Search Users</p></h4>
            </div>
            <form class="ui form">
                <div class="two fields">
                    <div class="field">
                        <label>City</label>
                        <input type="text" id="location-city" placeholder="Type City Name">  
                    </div>
                    <div class="field">
                        <label>Country</label>
                        <input type="text" id="location-country" placeholder="Insert Country Name">
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Technologies</label>
                        <select class="ui dropdown" id="technology">
                            <option></option>
                            {{#each technames}}
                            <option>{{techname}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="field">
                        <label>Search by Stars</label>
                        <select class="ui search dropdown" id="experience">
                            <option></option>
                            <option value="junior">New Star</option>
                            <option value="intermediate">Bright Star</option>
                            <option value="senior">Superstar</option>
                        </select>       
                    </div>
                </div>
                <div class="middle aligned">
                    <div class="ui animated fade fluid button green" id="search-user-button" tabindex="0">
                        <div class="visible content">Search</div>
                        <div class="hidden content">
                            <i class="search icon"></i>
                        </div>
                    </div>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="footer-padding3"></div>
{{!-- create space to display searched users --}}
<script src="./js/search.js"></script>