



{{!-- signup handlebars applies on this page --}}






<section>
    <div class="imgBx">
        <img>
    </div>
    <div class="contentBx">
        <div class="formBx">
            <img class="signlogo" src="/images/techbook-logo2.PNG" width="100%" height="90%">
            <small>Connect with the tech industry</small>
            <h2>Signup</h2>
            <form class="signup-form">
                <div class="inputBx">
                    <span>Username</span>
                    <input type="text" id="username-signup" autocomplete="off" placeholder="Enter your username">
                </div>
                <div class="inputBx">
                    <span>Email</span>
                    <input type="text" id="email-signup" autocomplete="off" placeholder="Enter your email">
                </div>
                <div class="inputBx">
                    <span>Password</span>
                    <input type="password" id="password-signup" autocomplete="off" placeholder="Enter your password">
                </div>
                <div class="account">
                    <span>Account Type</span><br>
                    <div class="user-type">
                        <input type="radio" id="developer" name="account-type" value="developer">
                        <label for="developer">Developer</label>
                        <input type="radio" id="recruiter" name="account-type" value="recruiter">
                        <label for="recruiter">Recruiter</label><br>
                    </div>
                </div>
                <div class="inputBx">
                    <button class="signup-button" id="modal-button">Sign up</button>
                </div>
                <div class="inputBx">
                    <p>Already have an account? <a href="/login">Log in</a></p>
                </div>
            </form>
            <div id="developer-modal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h1 class="page-title text-dark">Developer Information</h1>
                    <form class="form create-post">
                        <div class="inputBx">
                            <span>First Name</span>
                            <input type="text" id="firstname-developer-signup" autocomplete="off" placeholder="Enter your first name">
                        </div>
                        <div class="inputBx">
                            <span>Last Name</span>
                            <input type="text" id="lastname-developer-signup" autocomplete="off" placeholder="Enter your last name">
                        </div>
                        <div class="inputBx">
                            <span>City</span>
                            <input type="text" id="city-developer-signup" autocomplete="off" placeholder="Enter your city">
                        </div>
                        <div class="inputBx">
                            <span>Country</span>
                            <input type="text" id="country-developer-signup" autocomplete="off" placeholder="Enter your country">
                        </div>
                        <div class="inputBx">
                            <span>Github Username</span>
                            <input type="text" id="github-developer-signup" autocomplete="off" placeholder="Enter your github username">
                        </div>
                        <div class="inputBx">
                            <span>LinkedIn Username</span>
                            <input type="text" id="linkedin-developer-signup" autocomplete="off" placeholder="Enter your linkedin username">
                        </div>
                        <div class="inputBx">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-dark btn-block" id="create-developer" type="submit">Create Account</button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="recruiter-modal" class="modal">
                <div class="modal-content">
                    <span class="close2">&times;</span>
                    <h1 class="page-title text-dark">Recruiter Information</h1>
                    <form class="form create-post">
                        <div class="inputBx">
                            <span>First Name</span>
                            <input type="text" id="firstname-recruiter-signup" autocomplete="off" placeholder="Enter your first name">
                        </div>
                        <div class="inputBx">
                            <span>Last Name</span>
                            <input type="text" id="lastname-recruiter-signup" autocomplete="off" placeholder="Enter your last name">
                        </div>
                        <div class="inputBx">
                            <span>City</span>
                            <input type="text" id="city-recruiter-signup" autocomplete="off" placeholder="Enter your city">
                        </div>
                        <div class="inputBx">
                            <span>Country</span>
                            <input type="text" id="country-recruiter-signup" autocomplete="off" placeholder="Enter your country">
                        </div>
                        <div class="inputBx">
                            <span>LinkedIn</span>
                            <input type="text" id="linkedin-recruiter-signup" autocomplete="off" placeholder="Enter your linkedin">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-dark btn-block" id="create-recruiter" type="submit">Create Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>




{{!-- scripts --}}




<script src="./js/signup.js"></script>