.content {
  margin: 0px auto;
}

.content .entry .location {
  color: #555;
  font-style: italic;
}

.content .entry {
  background-color: #ffffff;
  text-align: center;
  padding-bottom: 10px;
}

.fullname {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  margin: auto;
  justify-content: center;
  background-color: #ffffff;
  width: 80%;
}

.userbadge {
  top: -40px;
  right: 0px;
  position: relative;
  color: #fff;
}

.edit-profile-button {
  margin-bottom: 30px;
}


.main-project {
  padding: 40px;
  display: block;
  text-align: center;
  background-color:rgb(97, 97, 97);
  color:#fff;
  text-decoration: none;
}