.content img {
  max-width: 100%;
  border-radius: 10px;
}

.content {
  max-width: 1000px;
  margin: 10px auto;
}

.content h1 {
  margin: 0;
}

.content small {
  color: #555;
  font-style: italic;
}

.content p {
  color: #333;
  line-height: 1.5;
}

.content .fullname {
  text-align: left;
  font-size: 66px;
  margin: 0%;
}